{%extends "admin.html"%}
{%block content%}
{%if newpros|length%}
<div class="container table-responsive mt-5" >
  <h4>Professional Review</h4>
  <table class="table  table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Service Category</th>
        <th scope="col">Details</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%for professional in newpros%}
      <tr>
        <td>{{professional.name}}</td>
        <td>{{professional.catId}}</td>
        <td><a href="/{{professional.id}}/professional/details" type="button" class="btn btn-info">Review</a></td>
        <td><a href="/{{professional.id}}/professional/approve" style="color:green">Approve</a> <a href="/{{professional.id}}/professional/reject" style="color:red">Reject</a></td>
      </tr>
  
  {%endfor%}
  </tbody>
  </table>
  </div>
  {%endif%}
      <div class="container table-responsive mt-5" id="Category">
        <h4>Categories</h4>
      {%if categories|length%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Services Count</th>
            <th scope="col">Professionals Count</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for category in categories%}
          <tr>
            <th scope="row"><a href="/{{category.id}}/category/details">{{category.id}}</a></th>
            <td>{{category.name}}</td>
            <td ><button class="btn btn-primary servBtn" value="{{category.id}}">{{category.count}}</button></td>
            <td ><button class="btn btn-primary proBtn" value="{{category.id}}">{{category.proCount}}</button></td>
            <td><a href="/{{category.id}}/category/modify">Modify</a> <a href="/{{category.id}}/category/remove" style="color:red">Remove</a></td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
      {%else%}
      <h5>Oops! No categories created yet.</h5>
      {%endif%}
      <a href="/category/create" style="color:green">+New Category</a>
      </div>
      
      {%for category in categories%}
      <div class="container table-responsive mt-5" id="serv{{category.id}}" style="display: none;">
      <h4>{{category.name}}</h4>
        <div class="d-flex justify-content-between">
          <h5>Services</h5>
        <span class="text-end"><button class="btn btn-primary servback"><- Go Back</button></span>
        </div>
        
        {%if category.count%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Time Required(in hrs)</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          {%for service in services%}
            {%if service.catId==category.id%}
            <tr>
              <th scope="row"><a href="/{{service.id}}/service/details">{{service.id}}</a></th>
              <td>{{service.name}}</td>
              <td>{{service.price}}</td>
              <td>{{service.t_req}}</td>
              <td>{{service.desc}}</td>
              <td><a href="/{{service.id}}/service/modify">Modify</a> <a href="/{{service.id}}/service/remove" style="color:red">Remove</a></td>
            </tr>
            
            {%endif%}
            
      
        {%endfor%}
        </tbody>
      </table>
      {%else%}
      <h5>Oops! No services added yet.</h5>
      {%endif%}
      <a href="/{{category.id}}/service/create">Add a service</a>
      </div>
      {%endfor%}
      <br><br>



      {%for category in categories%}
      <div class="container table-responsive mt-5" id="pro{{category.id}}" style="display: none;">
        <h4>{{category.name}}</h4>
        <div class="d-flex justify-content-between">
          <h5>Professionals</h5>
        <span class="text-end"><button class="btn btn-primary proback"><- Go Back</button></span>
        </div>
        {%if category.proCount%}
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            
            <th scope="col">Experience (in years)</th>
            <th scope="col">Total Customers</th>
            <th scope="col">Average Rating</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for professional in professionals%}
       
            {%if professional.catId==category.id%}
          <tr>
            <th scope="row"><a href="/{{professional.id}}/professional/details">{{professional.id}}</a></th>
            <td>{{professional.name}}</td>
            <td>{{professional.experience}}</td>
            <td>{{professional.nCustomers}}</td>
            <td>{{professional.rating}}</td>
            <td>{%if professional.approval == 0%}To be Reviewed{%elif professional.approval==0%}Rejected{%elif professional.approval==-1%}Banned{%else%}Approved{%endif%}</td>
        <td>{%if professional.approval == 0%}<a href="/{{professional.id}}/professional/approve">Approve</a> <a href="/{{professional.id}}/professional/reject" style="color:red">Reject</a>{%elif professional.approval ==1%}<a href="/{{professional.id}}/professional/ban" style="color:red">Ban</a>{%else%}<a href="/{{professional.id}}/professional/remove" style="color:red">Remove</a>{%endif%}</td>
          </tr>
          {%endif%}
        {%endfor%}
        </tbody>
      </table> 
      {%else%}
      <h5>Oops! No professionals added yet.</h5>
      {%endif%} 
      </div>
      {%endfor%}
         
     

      <div class="container table-responsive mt-5">
        <h4>Customers</h4>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {%for customer in customers%}
          <tr>
            <th scope="row"><a href="/{{customer.id}}/customer/details">{{customer.id}}</a></th>
            <th scope="row">{{customer.name}}</th>
            <td scope="row">{{customer.email}}</td>
            <td scope="row">{{customer.address}}</td>
            <td scope="row">{{customer.pincode}}</td>
            <td scope="row">{{customer.phone}}</td>
            <td scope="row">{%if customer.status == 0%}Active{%else%}Banned{%endif%}</td>
            <td scope="row">{%if customer.status == 0%} <a style="color:red" href="/{{customer.id}}/customer/ban" >Ban</a> {%else%}<a style="color:red" href="/{{customer.id}}/customer/remove" >Remove</a> {%endif%}</td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
      </div>

      <div class="container table-responsive mt-5">
        <h4>Service Requests</h4>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Assigned Professional</th>
            <th scope="col">Customer Id</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Date Completed</th>
                <th scope="col">Rating</th>
                <th scope="col">Remarks</th>
                <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        {%for request in requests%}
          <tr>
            <th scope="row"><a href="/{{request.id}}/request/details">{{request.id}}</a></th>
            <th scope="row">{%if request.proId%}<a href="/{{request.proId}}/professional/details">{{request.proId}}</a>{%else%}N.A.{%endif%}</th>
            <th scope="row">{%if request.userId%}<a href="/{{request.userId}}/customer/details">{{request.userId}}</a>{%else%}N.A.{%endif%}</th>
            <td>{{request.d_req.strftime("%d %b, %Y %I:%M %p")}}</td>
            <td>{%if request.d_comp%}{{request.d_comp.strftime("%d %b, %Y %I:%M %p")}}{%else%}_{%endif%}</td>
            <td>{{request.rating}}</td>
            <td>{{request.remarks}}</td>
            <td>{{request.status}}</td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
      </div>
      
      <script src="/static/adm_dash.js"></script>
{%endblock%}