{%extends "base.html"%}
    {%block content%}
      <p class="text-end pt-2 px-5"><a type="btn btn-success"  href="/proRegister">Register as Professional</a></p>
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <div class="inputs">
          <label for="exampleInputEmail1" class="form-label">Email : </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="inputs">
          <label for="exampleInputPassword1" class="form-label" >Password : </label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary px-5">Login</button>
        </div>
        
        <div class="pb-5 px-5">
            <a href="/register">Create Account?</a>
        </div>
        
      </form>
    
    {%endblock%}
