{%extends "pro.html"%}
{%block content%}
<br><br>
{%if pro.approval == 0%}
     <div class="container"><h2>You are yet to be approved by Admin.</h2></div>
     
     {%elif pro.approval == -1%}
     <div class="container"><h2>Sorry! You are either rejected or banned by the admin!</h2><a style="color:red" href="/{{pro.id}}/pro/delete">Delete Account?</a></div>
     
     
     {%else%}
<div class="container pt-3 d-flex justify-content-end">
    <h5 class="pt-1  pr-3">Search by : </h5>
    
        <select id="select" class="px-2" >
            <option id="date" value="date">Date</option>
            <option id="Location" value="Location">Location</option>
            <option id="Pincode" value="Pincode">Pincode</option>
            <option id="status" value="status">Status</option>
          </select>
          <input class="mx-3 px-2"  type="search" placeholder="" aria-label="Search" id="search">
    
    
</div>
<div class="container table-responsive" id="Request">
    <h4>Service Requests</h4>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Address</th>
        <th scope="col">Pincode</th>
        <th scope="col">Phone</th>
        <th scope="col">Date Requested</th>
        <th scope="col">Date Completed</th>
        <th scope="col">Status</th>
        <th scope="col">Rating</th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody>
    {%for cust,request in requests%}
      <tr class="records" id="{{cust.name}}{{cust.address}}{{cust.pincode}}{{cust.phone}}{{request.d_req.strftime('%d %b, %Y %I:%M %p')}}{%if request.d_comp%}{{request.d_comp.strftime('%d %b, %Y %I:%M %p')}}{%else%}-{%endif%}{{request.status}}{{request.rating}}{{request.remarks}}">
        <th class="id" scope="row"><a href="/{{request.id}}/request/details">{{request.id}}</a></th>
        {%if cust%}
        <td>{{cust.name}}</td>
        <td>{{cust.address}}</td>
        <td>{{cust.pincode}}</td>
        <td>{{cust.phone}}</td>
        {%else%}
        <td>N.A.</td>
        <td>N.A.</td>
        <td>N.A.</td>
        <td>N.A.</td>
        {%endif%}
        <td>{{request.d_req.strftime("%d %b, %Y %I:%M %p")}}</td>
        <td>{%if request.d_comp%}{{request.d_comp.strftime("%d %b, %Y %I:%M %p")}}{%else%}-{%endif%}</td>
        <td>{{request.status}}</td>
        <td>{{request.rating}}</td>
        <td>{{request.remarks}}</td>
      </tr>
    {%endfor%}
    {%for cust,rejreq in rejrequests%}
    <tr class="records" id="{{rejreq.id}}{{rejreq.userId}}{{rejreq.d_req}}{{rejreq.status}}{{rejreq.userId}}">
        <th scope="row"><a href="/{{rejreq.id}}/rejreq/details">{{rejreq.id}}</a></th>
        {%if cust%}
        <td>{{cust.name}}</td>
        <td>{{cust.address}}</td>
        <td>{{cust.pincode}}</td>
        <td>{{cust.phone}}</td>
        {%else%}
        <td>N.A.</td>
        <td>N.A.</td>
        <td>N.A.</td>
        <td>N.A.</td>
        {%endif%}
        <td>{{rejreq.d_req.strftime("%d %b, %Y %I:%M %p")}}</td>
        <td>U/K</td>
        <td>Rejected</td>
        <td>U/K</td>
        <td>U/K</td>
        
      </tr>
    {%endfor%}
    </tbody>
  </table>
  </div>
  <div class="container" id="msg" style="display: none;"><h3 >0 records found</h3></div>
  {%endif%}
  <script src="/static/pro_search.js"></script>
{%endblock%}