{% extends "user.html" %}
{%block content%}
<div id="requests" style="display: none;">
    {%for i in e%}
    <p id="{{i}}">{{e[i]}}</p>
    {%endfor%}
</div>
<h2 class="text-center pt-3">{{user.name}}'s Booking Statistics</h2>
<div class="d-flex justify-content-around">
    
    <div class="pt-5 px-2 text-center" >
        
        <canvas class="pb-3" id="rqx" style="width:25rem;height:25rem;"></canvas>
        <h5 >Requests</h5>
    </div>
    </div>
<script src="/static/adm_sum.js"></script>
{%endblock%}