      {%extends "user.html"%}
      {%block content%}
      <div class="mt-5 justify-content-around" id="categories">
        <h2 class="mb-3 text-center">Looking For?</h2>
        <div class="container border pt-3 pb-3 justify-content-around" style="display: flex; background-color: antiquewhite; border-radius: 2rem;">
          {%for category in categories%}
            {%if category.count%}
            <button class="card shadow-lg btn mr-2 catBtn" value="{{category.id}}" style="width: 10rem; height:10rem;border:2px solid black; border-radius: 2rem;">
                <img src="/static/images/{{category.logo}}" class="card-img-top "  alt="{{category.id}}" style="width: 9rem;height: 9rem;border-radius: 2rem;object-fit: cover;">
            </button>  
            {%endif%}
          {%endfor%}
        </div>
          
      </div>






      {%for category in categories%}
      <div class="container table-responsive" id="{{category.id}}" style="display: none;">
      <h3>{{category.name}}</h3>
      
        
        <div class="d-flex justify-content-between">
          <h4>Services</h4>
          <button class="btn btn-primary back"><- Go Back</button>
        </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Time Required(in hrs)</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          {%for service in services%}
            {%if service.catId==category.id%}
            <tr>
              <th scope="row">{{service.id}}</th>
              <td>{{service.name}}</td>
              <td>{{service.price}}</td>
              <td>{{service.t_req}}</td>
              <td>{{service.desc}}</td>
              <td><a type="button" class="btn btn-success" href="/{{user.id}}/{{service.id}}/book">Book</a></td>
            </tr>
            
            {%endif%}
            
      
        {%endfor%}
        </tbody>
      </table>
      </div>
      {%endfor%}
      <br><br>
      <div class="container table-responsive" id="history">
        <h2>Service History</h2>
        {%if requests|length%}
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Service Name</th>
                <th scope="col">Professional Name</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            
            {%for request,service,pro in requests%}
            
              <tr>
                <th scope="row">{{request.id}}</th>
                <td>{{service.name}}</td>
                {%if request.status=='Closed'%}
                <td>{{pro.name}}</td>
                <td>{{pro.phone}}</td>
                <td><button class="btn btn-success">{{request.status}}</button></td>
                <td><a type="button" class="btn btn-warning" href="/{{user.id}}/{{request.id}}/remove">Remove</a></td>
                {%elif request.status=='Accepted'%}
                <td>{{pro.name}}</td>
                <td>{{pro.phone}}</td>
                <td><button class="btn btn-warning">{{request.status}}</button></td>
                <td><a type="button" data-toggle="modal" data-target="#{{'exampleModalCenter'~request.id}}" class="btn btn-info">Close it?</a></td>
                <div class="modal fade" id="{{'exampleModalCenter'~request.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <form action="/{{user.id}}/{{request.id}}/close" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h5 class="modal-title" id="exampleModalLongTitle">Service Remarks</h5>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body ">
                        <article class="text-center mb-5">Request ID: {{request.id}}</article>
                        <div class="d-flex .flex-row  justify-content-around mb-3">
                          <div class="mr-2" style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{service.name}}
                          </div>
                          <div class="mr-2" style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{service.desc}}
                          </div>
                          <div style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{request.d_req.date()}}
                          </div>
                          
                        </div>
                        <div class="d-flex .flex-row  justify-content-around mb-3">
                          <div class="mr-2" style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{pro.id}} 
                          </div>
                          <div class="mr-2" style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{pro.name}}
                          </div>
                          <div style="border:2px solid black;padding-right:0.5rem;padding-left: 0.5rem; background-color: orange; color:white;font-weight: bold;">
                            {{pro.phone}}
                          </div>
                          
                        </div>
                        <div id="form">
                          
                            <div class="form-group mb-3">
                              <label for="rating" class="form-label">Rating : </label>
                              <select class="form-select form-select" aria-label=".form-select-sm example" id="rating" name="rating">
                              
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                            <div class="form-group mb-3">
                              <label for="exampleFormControlTextarea1">Remarks(if any)</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="remarks"></textarea>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save and Close</button>
                      </div>
                    </div>
                  </form>
                  </div>
                </div>
                {%elif request.status=='Cancelled'%}
                <td>NA</td>
                <td>NA</td>
                <td><button class="btn btn-warning">{{request.status}}</button></td>
                <td><a type="button" class="btn btn-info" href="/{{user.id}}/{{request.id}}/remove">Remove</a></td>
                {%else%}
                <td>NA</td>
                <td>NA</td>
                <td><button class="btn btn-primary">{{request.status}}</button></td>
                <td><a type="button" class="btn btn-danger" href="/{{user.id}}/{{request.id}}/cancel">Cancel</a></td>
                {%endif%}
                
              </tr>
              {%endfor%}
        
            </tbody>
          </table>
          {%else%}
          <p>No service history. Don't Worry! <a href="">Book a service now</a></p>
          {%endif%}
      </div>
    

    
    {%for service in allservices%}
    <div class="{{service.category}}">

    </div>
    {%endfor%}
    

      <script src="/static/adm_dash.js"></script>
{%endblock%}